body {
  background-color: rgba(108, 108, 108, 0.8);
}

img {
  height: 300px;
  width: 20%;
}

table,
th,
td {
  border: 3px solid rgb(215, 215, 233);
}
button {
  border-radius: 5px;
}
table th {
  text-align: center;
}

.card {
  background-color: rgb(202, 191, 189);
}
.card-title {
  text-align: center;
}
ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

td {
  width: 20px;
  height: 20px;

  border: 1px solid rgb(255, 3, 3);
}

.table {
  border-spacing: 2em;
  overflow: auto;
}
h1 {
  text-align: center;
  color: blue;
}

.schedule-date-button {
  padding: 15px;
}
