.movie-details {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  justify-content: center;
}

.movie-details > div {
  overflow: hidden;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.591);
  border-radius: 5px;
  border: none;
  margin: 15px;
}

fieldset {
  margin: 30px;
}

.movie-details div * {
  text-align: center;
}

.movie-details div img {
  max-width: 80%;
  height: auto;
}
